<h1>Add Event</h1>

<form method="post">
    <label for="name">Event Name: </label>
    <input name="name" type="text" />
    <label for="description">Event Description: </label>
    <textarea name="description" cols="40" rows="5"></textarea>
    <input type="submit" value="Add Event" />

</form>
