<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Events</a>
</p>

@if (ViewBag.events.Count == 0)
            {
                <p>No Events</p>
            }
<ul>
    @foreach (KeyValuePair<string,string> kvp in ViewBag.events)
    {
        <li>@kvp.Key @kvp.Value</li>
        
    }
</ul>